<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="page-content">

      <div class="index-wrapper">
        <section>
                <div>
                  <H2>Hey, I'm</H2>
                  <H1>Victoria</h1>
                  <p> some words go here </p>
                </div>
        </section>
      </div>

      <div class="index-wrapper">
        <section>
                <div>
                  <ul>
                    <li>Blog</li>
                    <li>Work</li>
                    <li>About </li>
                  </ul>
                </div>
        </section>
      </div>

      <div class="index-wrapper">
        <section>
                <div>
                </div>
        </section>
      </div>


  </body>




</html>
