<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="page-content">

      <div class="index-wrapper white">
        <section class="wrapper ">
                <div class="placeholder inline top"></div>
                <div class="inline top">
                  <H2>Hey, I'm</H2>
                  <H1><span class="display">Victoria</span></h1>
                    <div>
                      <p>I believe in Community Empowerment & Design.</p>
                    </div>
                </div>
        </section>
      </div>

      <div class="index-wrapper purple center">
        <section class="wrapper">
                <div class="inline top">
                  <H2>My site is currently under construction
                  </H2>
                </div>
        </section>
      </div>

<!----      Under Contsruction

<div class="index-wrapper">
        <section class="wrapper">
                <div>
                  <ul>
                    <li>Blog</li>
                    <li>Work</li>
                    <li>About </li>
                  </ul>
                </div>
        </section>
      </div>

      <div class="index-wrapper">
        <section class="wrapper">
                <div>
                </div>
        </section>
      </div>
-->

  </body>




</html>
