<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    {% include head.html %}
    {% include header.html %}
    <div class="page-content">
        <div class="index-wrapper white">
            <section class="wrapper">

                <div class="inline top">
                    <div class="display1">
                        Hello.<br>
                        My Name is Victoria.
                    </div>
                    <h1><span class="display">I'm trying to tell my
                    story.</span></h1>
                </div>
                <div class="index-special">
                    <p>I’m fickle and learning but moving forward. I believe in
                    design and people. Currently, I'm a graphic designer at
                    <a href="http://www.continuum.io" target="_blank">Continuum Analytics</a> and a volunteer community organizer
                    with <a href="http://www.open-austin.org/" target="_blank">Open Austin</a>. <a href="../blog.html">Check out my
                    blog</a> while I works on my site.</p>
                </div>
            </section>
        </div>
    </div>
</body>
</html>
