<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    {% include head.html %}
    {% include header.html %}
      <div class="page-content">
          <div class="index-wrapper white">
              <section class="wrapper">

                  <div class="inline top">
                      <div class="display1">
                          My Name is Victoria
                      </div>
                      <h1><span class="display">I'm trying to tell my
                      story</span></h1>
                  </div>
                  <div class="index-special">
                      <p>I’m fickle and learning but moving forward. I believe in
                      design and people. Currently, I'm a graphic designer at a local tech company and a volunteer community organizer
                      with Open Austin.
                  </div>

                  {% include post.html %}

              </section>
          </div>
      </div>
  </body>
</html>
